@media(max-width:520px){
.eyebrow, .notice {        font-size: .72rem;
        padding: 7px 10px;
        display: flex;
        justify-content: center;
        width: 301px;
        margin: auto;
    }
          .hero h1 {
        text-align: center;
        font-size: clamp(.7rem, .5vw, 2.7rem);
    }
    .hero-actions .btn, .hero-actions .btn-secondary{
                margin: auto;
        width: 50%;
        padding: 4px;
        font-size: .64rem;
    }
        .hero-copy, .hero-note, .section-head p, .card p, .service p, .proof p, .sample p, .compare p, .contact-card p {
        font-size: .77rem;
        text-align: center;
        margin: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 16px;
    }

    section {
        padding: 20px 0;
    }

    .reveal[data-delay="3"]{
        display: none;
    }
        .section-head h2, .faq-panel h2, .cta-panel h2, .contact-card h2 {
        font-size: 0.75rem;
    }
    .hint-p{

    margin-top: 63px !important;
    margin-right: -294px !important;
    }
    .h2-hint-wa{
    font-size: clamp(1rem, 2vw, 3rem) !important;
    text-align: center !important;
    }
    .cta-actions .btn, .cta-actions .btn-secondary, .contact-actions .btn, .contact-actions .btn-secondary{
                width: 80%;
        margin: auto;
    }
    .section-head h2, .faq-panel h2, .cta-panel h2, .contact-card h2{
        text-align: center;
    }
    .card h3, .service h3, .proof h3, .sample h3, .compare h3, .contact-card h3{
    font-size: 1rem;
    text-align: center;
}
.contact-card-mobile{
    display: none;;
}
}